<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.2">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Карточка {{ card.username }}</title>
</head>
<body class="telo">
    <header class="header_name_conteiner">
        <nav>
            <a href="{{ url_for('create') }}"><button class="header_elements_card"> Создать свою Карточку </button></a>
            <a href="{{ url_for('delete') }}"><button class="header_elements_card"> Удалить свою Карточку </button></a>
            <a href="{{ url_for('index') }}"><button class="header_elements_card"> Вернуться на главную </button></a>
        </nav>
    </header>
    
<div class="blue_fone">
    <div class="menu">
        <button class="menu_elements" onclick="window.open('{{ card.link_1 }}');" target="_self"> VK </button>
        <button class="menu_elements" onclick="window.open('{{ card.link_2 }}');" target="_self"> Telegram </button>
        <button class="menu_elements" onclick="window.open('{{ card.link_3 }}');" target="_self"> Instagram </button>
        <button class="menu_elements" onclick="window.open('{{ card.link_4 }}');" target="_self"> TikTok </button>
        </form>
    </div>
    
    <main>
        <div class="na_card">
            <h1 class="name_card">Карточка {{ card.username }}</h1>
            <h1 class="age_card">Мой возраст: {{card.age }}</h1>
        </div>

        <div class="linia_index1"></div>

        <div class="main_info">

            <div class="first_slaid">
                <div class="oval"></div>
                <p class="dop_info">  </p>
            </div>
            <div class="second_slaid_main">
                <p class="second_slaid_main_text"> {{ card.text_1 }} </p>
            </div>
            {% if card.image_1 %}
                <img class="main_photo" src="data:image/jpeg;base64,{{ card.image_1 }}" alt="Изображение 1"><br>
            {% endif %}
            <div class="ramka">
            </div>
        </div>
        <div class="blue_block1">
            <p class="blue_text1"> {{ card.text_2 }} </p>
        </div>

        <div class="blue_block2">
            <p class="blue_text2"> {{ card.text_3 }} </p>
        </div>
        <hr class="linia"></hr>      
        <div class="sec_block_ram_photo">
            {% if card.image_2 %}
                <img class="sec_photo" src="data:image/jpeg;base64,{{ card.image_2 }}" alt="Изображение 2"><br>
            {% endif %}
            <div class="sec_ramka">
            </div>
        </div>
        
        <div class="third_ramka">
            {% if card.image_3 %}
                <img class="third_photo" src="data:image/jpeg;base64,{{ card.image_3 }}" alt="Изображение 3"><br>
            {% endif %}
        </div>
    </div>
    </div>

    </main>
</div>
</body>
</html>
