<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Удалить Карточку</title>
</head>
<body class="telo">

    <h1 class="header_name_conteiner"> Удалите Вашу Карточку </h1>

    <div class="blue_fone_del">
    <form method="post">
        <div class="aligning">
            <span class="username_create"> Имя пользователя: </span><input type="text" name="username" required maxlength="25"><br>

            <span class="password_create"> Пароль: </span><input type="password" name="password" required maxlength="6"><br>

            <button class="but_delete" type="submit">Удалить</button>
        </div>
    </form>

    <div class="linia_index1"></div>

    <a href="{{ url_for('index') }}"><button class="back_del"> Вернуться на главную </button></a>

    <div class="linia_index1"></div>    
    </div>
</body>
</html>
