<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Ошибка</title>
</head>
<body class="telo">

    <h1 class="header_name_conteiner"> Ошибка </h1>

    <div class="blue_fone_error">

        <div class="bl_error">
            {{ get_flashed_messages()[0] }}
        </div>

        <div class="linia_error"></div>

        <a class="link_error" href="{{ url_for('index') }}"><button class="back_error"> Вернуться на главную </button></a>
    
    </div>
</body>
</html>
